<!-- username -->
<%- include('includes/head.ejs', {username: username}) %>

<h1 class="title">Bienvenido</h1>
<form action="/users/login" method="POST">
    <label class="label" for="username">Nombre de usuario</label>
    <input name="username" id="username" type="text" class="input"><br>
    <label class="label" for="password">Contraseña</label>
    <input name="password" id="password" type="password" class="input"><br><br>
    <input class="button is-success" type="submit" value="Entrar">
</form>

<h1>¿Qué beneficios encuentras en el estilo MVC?</h1>

<h2>Te permite tener separado cada parte de tu codigo, sobre todo separar el diseño de la aplicacion de su logica (que a su vez ayuda a comprender y modificar partes individuales). Ademas, te permite reutilizar varias partes de tu codigo (en este caso los encabezados y 
  pies de cada ruta)</h2>

<h1>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h1>

<h2>Al comienzo puede resultar dificil comprender como crear y como lograr que interactuen las diferentes capas del programa, de igual forma, para programas muy simples o pequeños puede añadir trabajo innecesario</h2>

<%- include('includes/foot.ejs') %>

